/* @font-face {
    font-family: MyPoppins;
    src: local("Poppins Regular"), local("Poppins-Regular");
}

@font-face {
    font-family: MyBarlow;
    src: local("Barlow Black"), local("Barlow-Black");
} */

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-family: "Barlow Semi Condensed", "Gill Sans", sans-serif;
}

body {
  margin: 0;
  position: relative;
}

p {
  font-family: "Poppins", "Gill Sans", sans-serif;
}

li {
  list-style: none;
}

.container {
  padding: 0;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.8);
  padding: 0;
  z-index: 100;
  text-transform: uppercase;
  font-family: "Barlow Semi Condensed";
  font-weight: 700;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.logo {
  font-size: 1.4em;
  color: white;
}

.menu {
  display: none;
}

#menu-button {
  background-color: transparent;
  border: 0;
  color: rgba(255, 255, 255, 0.6);
}

.menu li {
  padding: 0 1.8em 0 1.8em;
  font-size: 0.7em;
}

.menu li:hover {
  color: rgb(191 146 91);
}

.banner {
  background: url("images/banner.jpg") no-repeat center;
  width: 100%;
  height: 160vh;
  z-index: 50;
  padding: 0;
}

.fade {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 160vh;
  top: 0;
  z-index: 75;
}

.banner-text {
  position: absolute;
  padding: 40vh 4% 20% 4%;
  color: white;
  z-index: 90;
  top: 0;
}

.gold {
  color: rgb(191 146 91);
  text-transform: uppercase;
  font-family: "Poppins", "Gill Sans", sans-serif;
  font-weight: 600;
}

.about-us-btn {
  border: 2px solid rgb(191 146 91);
  background-color: transparent;
  color: rgb(191 146 91);
  padding: 0.8rem;
  margin-top: 1.5rem;
  font-family: "Poppins", "Gill Sans", sans-serif;
  font-weight: 600;
}

.services {
  display: grid;
}

.services div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 5em 5em 5em;
  background-color: rgb(191, 146, 91);
  color: white;
}

.services div:nth-of-type(2n + 2) {
  background-color: rgb(172, 127, 72);
}

.services div img {
  height: 175px;
  width: 175px;
  border-radius: 50%;
  margin-top: -85px;
  z-index: 80;
}

.services div p {
  padding: 0 0 2em 0;
}

.about {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.about img {
  height: 80vh;
}

.box {
  width: 50%;
  height: 5em;
  background-color: rgb(196, 155, 111);
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(186, 107, 23);
}

.test-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  justify-content: center;
}

.cards div {
  width: 90%;
  height: 20vh;
  background-color: white;
}

.footer {
  display: flex;
  background-color: black;
  color: white;
}

.footer-container {
  display: flex;
  flex-direction: column;
  padding: 0 0 20vh 1.5em;
}

.footer-container h4 {
  margin-bottom: 0;
}

.footer-list {
    padding: 0;
}

.footer-list li {
  color: white;
  list-style: ">";
  padding: 0.2em 0.5em;
  font-family: "Poppins", "Gill Sans", sans-serif;
}

@supports (-webkit-text-stroke: 1px white) {
  #style-text {
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: rgb(0, 0, 0, 0);
  }
}

@media only screen and (max-width: 900px) {
  button + .menu {
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  button.menu-open + .menu {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  button.menu-open + .menu li {
    padding: 0.4em;
    font-size: 0.8em;
    list-style: ">";
  }
}

@media only screen and (min-width: 900px) {
  .menu {
    display: flex;
  }

  #menu-button {
    display: none;
  }

  .header {
    justify-content: center;
  }

  .header-container {
    width: 70vw;
  }

  .banner-text {
    position: absolute;
    padding: 30vh 15% 20% 50%;
    color: white;
  }

  #intro-text {
    padding: 0 0 0 5em;
    border-left: 1px solid white;
  }

  #intro-text > p {
    padding-right: 2.5em;
  }

  .services {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
  }

  .services div {
    padding: 0;
  }

  .services div p {
    padding: 0 2em 2em 2em;
  }

  .about {
    flex-direction: row;
    align-items: center;
  }

  .footer {
    justify-content: center;
  }

  .footer-container {
    flex-direction: row;
    width: 70vw;
    justify-content: space-between;
  }
}
