/* @font-face {
    font-family: MyPoppins;
    src: local("Poppins Regular"), local("Poppins-Regular");
}

@font-face {
    font-family: MyBarlow;
    src: local("Barlow Black"), local("Barlow-Black");
} */

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 3em;
  margin: 0;
  font-family: "Barlow Condensed", "Gill Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1em;
}

h2,
h3,
h4 {
  text-transform: uppercase;
  font-family: "Barlow Semi Condensed", "Gill Sans", sans-serif;
}

h3 {
  color: rgb(191 146 91);
}

body {
  margin: 0;
  position: relative;
}

p {
  font-family: "Poppins", "Gill Sans", sans-serif;
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.wrapper {
  padding: 0;
}

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.8);
  padding: 0;
  z-index: 100;
  text-transform: uppercase;
  font-family: "Barlow Semi Condensed";
  font-weight: 700;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.logo {
  font-size: 1.6em;
  color: white;
  font-family: "Barlow Condensed", "Gill Sans", sans-serif;
  font-weight: 700;
}

.menu {
  display: none;
}

#menu-button {
  background-color: transparent;
  border: 0;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.menu li {
  padding: 0 1.8em 0 1.8em;
  font-size: 0.7em;
  text-transform: uppercase;
}

.menu li:hover {
  color: rgb(191 146 91);
}

.header {
  background: url("images/banner.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 860px;
  z-index: 50;
  padding: 0;
  position: relative;
}

.fade {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  height: 860px;
  top: 0;
  z-index: 75;
}

.header-text {
  position: absolute;
  padding: 60vh 4% 20% 3%;
  color: white;
  z-index: 90;
  top: 0;
}

#intro-text p {
  margin: 2em 0 1em 0;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 2em;
  color: rgba(255, 255, 255, 0.85);
}

.welcome-text {
  color: rgb(191 146 91);
  text-transform: uppercase;
  font-family: "Poppins", "Gill Sans", sans-serif;
  font-weight: 600;
}

.about-us-btn {
  border: 2px solid rgb(191 146 91);
  background-color: transparent;
  color: rgb(191 146 91);
  padding: 0.6em 0.8em;
  margin-top: 1.5em;
  font-family: "Poppins", "Gill Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.services {
  display: grid;
}

.services div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 5em 5em 5em;
  background-color: rgb(191, 146, 91);
  color: white;
}

.services div:nth-of-type(2n + 2) {
  background-color: rgb(172, 127, 72);
}

.services div img {
  height: 175px;
  width: 175px;
  border-radius: 50%;
  margin-top: -85px;
  z-index: 80;
}

.services div p {
  padding: 0 0 2em 0;
}

.about {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.about img {
  height: 80vh;
}

.box {
  width: 50%;
  height: 5em;
  background-color: rgb(196, 155, 111);
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(235, 232, 222);
}

.testimonial-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .test-1 {
  width: 100%;
  height: 200px;
  text-align: center;
  display: block;
  position: relative;
}

.page {
  display: block;
  position: absolute;
  background-color: white;
  top: 2em;
  left: 0;
  width: 200px;
  height: 150px;
  transition: transform 0.5s;
  transform: scale(0);
}

.page div {
  padding: 3em;
}

.page div label {
  cursor: pointer;
  background: #d9ff4f;
  padding: 1em 2em;
}

@for $i from 1 through 5 {
  #page#{$i}cb:checked ~ {
    #page#{$i} {
      transform: scale(1);
    }
  }
} */

.test-2 {
  position: relative;
  width: 100%;
  height: 200px;
  margin-top: 100px;
}

.card-container {
  position: relative;
  min-height: 200px; /* This part sucks */
  clear: both;
  margin: 25px 0;
}

/* .card {
  width: 250px;
  height: 200px;
  padding: 2em;
  background-color: white;
} */

.card {
  float: left;
}

.card label {
  background: #eee;
  padding: 10px;
  border: 1px solid #ccc;
  margin-left: -1px;
  position: relative;
  left: 1px;
}

.card [type="radio"] {
  opacity: 1;
}

.card-content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  width: 200px;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.test-content {
  position: absolute;
  background-color: white;
  width: 200px;
  padding: 20vh;
  top: 28px;
  right: 25vw;
  bottom: 0;
  overflow: hidden;
}

.test-card {
    float: left;
}

.test-content > * {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.6s ease;
}

.card-content > * {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.6s ease;
}

[type="radio"]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}

[type="radio"]:checked ~ label ~ .card-content {
  z-index: 1;
}

.test-card input[type="radio"] {
  display: block;
}

[type="radio"]:checked ~ .test-content {
  z-index: 1;
}

[type="radio"]:checked ~ label ~ .card-content > * {
  opacity: 1;
  transform: translateX(0);
}

[type="radio"]:checked ~ .test-content > * {
  opacity: 1;
  transform: translateX(0);
}

.footer {
  display: flex;
  background-color: black;
  color: white;
}

.footer-container {
  display: grid;
  padding: 10vh 0 20vh 0.5em;
}

.footer-container h4 {
  margin: 0 0 1.5em 0;
  font-size: 1.2em;
}

.footer-list {
  padding: 0 0 0 1.5em;
}

.footer-list li {
  color: rgba(255, 255, 255, 0.6);
  list-style: ">";
  padding: 0.2em 0.4em;
  font-family: "Poppins", "Gill Sans", sans-serif;
  font-weight: 400;
}

.social-media {
  padding: 0 0 10vh 0;
}

.social-media p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.9em;
  font-weight: 300;
}

@supports (-webkit-text-stroke: 1px white) {
  #style-text {
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: rgb(0, 0, 0, 0);
  }
}

@media only screen and (min-width: 500px) {
  .header {
    height: 750px;
  }

  .fade {
    height: 750px;
  }
}

@media only screen and (min-width: 775px) {
  .header {
    height: 700px;
  }

  .fade {
    height: 700px;
  }
}

@media only screen and (max-width: 999px) {
  button + .menu {
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  button.menu-open + .menu {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  button.menu-open + .menu li {
    padding: 0.4em;
    font-size: 0.8em;
    list-style: ">";
  }
}

@media only screen and (min-width: 999px) {
  .logo {
    font-size: 1.4em;
  }

  .menu {
    display: flex;
  }

  #menu-button {
    display: none;
  }

  .navbar {
    justify-content: center;
  }

  .navbar-container {
    width: 65vw;
    padding: 2px;
  }

  .header {
    height: 800px;
  }

  .fade {
    height: 800px;
  }

  .header-text {
    position: absolute;
    padding: 30vh 20% 20% 50%;
    color: white;
  }

  .welcome-text {
    font-size: 0.8em;
  }

  #intro-text {
    padding: 0 1em 0 5em;
    margin: 0 0 0 0.7em;
    border-left: 1px solid rgb(191 146 91);
  }

  #intro-text p {
    padding-right: 4em;
    font-size: 0.7em;
  }

  .about-us-btn {
    border-width: 1.5px;
  }

  .services {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
  }

  .services div {
    padding: 0;
  }

  .services div p {
    padding: 0 2em 2em 2em;
  }

  .about {
    flex-direction: row;
    align-items: center;
  }

  .footer {
    justify-content: center;
  }

  .footer-container {
    grid-template-columns: repeat(4, 1fr);
    width: 70vw;
    justify-content: space-between;
    padding: 10vh 0 20vh 0.5em;
    gap: 5em;
  }

  .footer-list {
    padding: 0;
  }
}

@media only screen and (min-width: 1150px) {
  .header {
    height: 750px;
  }

  .fade {
    height: 750px;
  }
}

@media only screen and (min-width: 1400px) {
  .header {
    height: 700px;
  }

  .fade {
    height: 700px;
  }
}
