/* Testimonial section */

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(235, 232, 222);
  }
  
  .testimonial-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    text-align: center;
    padding: 20vh 0 0 0;
  }
  
  .testimonial-text h3 {
    padding-bottom: 0.3em;
  }
  
  .card-container {
    position: relative;
    width: 100%;
    height: 200px;
    margin: 30% 0;
  }
  
  .card {
    float: left;
  }
  
  #quote-circle {
    position: absolute;
    width: 35px;
    height: 35px;
    top: -70px;
    left: 8vw;
    border-radius: 100%;
    background-color: rgb(191 146 91);
    z-index: 5;
    color: white;
    display: flex;
    justify-content: center;
  }
  
  #quote {
    width: 15px;
  }
  
  .card-content {
    position: absolute;
    background-color: white;
    width: 90vw;
    max-width: 600px;
    height: 240px;
    padding: 20px;
    top: -50px;
    left: 5vw;
    bottom: 0;
    overflow: hidden;
    border-radius: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: rgba(20, 27, 37, 0.6);
    font-family: "Poppins", "Gill Sans", sans-serif;
  }
  
  .card-content p {
    padding-bottom: 1.4em;
    flex: 100%;
  }
  
  .portrait {
    border-radius: 100%;
  }
  
  .card-text {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  }
  
  .review-name {
    color: rgba(20, 27, 37, 1);
    padding: 0.7em 0;
  }
  
  .customer {
    text-transform: uppercase;
    color: rgb(191 146 91);
    font-size: 0.8em;
  }
  
  input {
    appearance: none;
    -webkit-appearance: none;
  
    border-radius: 50%;
  
    background: rgb(196, 155, 111);
  
    border: 5px solid rgb(216, 214, 214);
  }
  
  input:checked {
    border: 5px solid rgb(196, 155, 111);
  }
  
  #card-1 {
    position: absolute;
    top: 200px;
    left: 41%;
  }
  
  #card-2 {
    position: absolute;
    top: 200px;
    left: 47%;
  }
  
  #card-3 {
    position: absolute;
    top: 200px;
    left: 53%;
  }
  
  [type="radio"]:checked ~ .card-content {
    z-index: 1;
  }
  
  [type="radio"]:checked ~ .card-content > * {
    opacity: 1;
    transform: translateX(0);
  }
  
  .card-row {
    display: none;
  }