/* About section */

.about {
  display: flex;
  flex-direction: column;
  padding: 0 2%;
  align-items: center;

  h3 {
    padding: 2.3em 0 0.4em 0;
  }

  img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
  }
}

.about-images {
  width: 100%;
}

.about-text p {
  padding: 2em 0 2em 0;
  font-size: 0.9em;
  font-weight: 300;
  line-height: 2em;
}

.box {
  width: 50%;
  height: 5em;
  background-color: $color-gold;
  display: flex;
  align-items: center;
  margin-bottom: 15%;
}

.box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em 0 1.2em;
  gap: 1em;
}

.calendar-text {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-family: $font-poppins;
  font-weight: 700;
  color: $color-white;
}

.calendar {
  background-color: black;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8em;
}

#number {
  font-size: 1.7em;
  line-height: 1.2em;
}

#experience {
  font-size: 0.6em;
  line-height: 1.2em;
  letter-spacing: 0.1em;
}

/* About Break-point 650px */

@media only screen and (min-width: 650px) {
  .about img {
    height: 650px;
  }

  .box {
    width: 40%;
  }
}

/* About Break-point 999px */

@media only screen and (min-width: 999px) {
  .about {
    flex-direction: row;
    justify-content: center;
    padding: 0 10%;
    gap: 8%;

    img {
      height: 700px;
    }
  }

  .about-images {
    width: 60%;
    display: flex;
    flex-direction: row-reverse;
  }

  .about-text {
    padding: 5% 0 0 0;
    width: 50%;
  }

  .box {
    width: 50%;
  }
}

/* About Break-point 1349px */

@media only screen and (min-width: 1349px) {
  .about {
    gap: 5%;

    img {
      height: 650px;
      width: 80%;
    }
  }

  .box {
    width: 40%;
  }
}

/* About Break-point 1799px */

@media only screen and (min-width: 1799px) {
  .about img {
    height: 45vw;
  }
}
