$color-gold: rgb(191 146 91);
$color-beige: rgb(235, 232, 222);
$color-black: rgb(20, 27, 37);
$color-white: rgb(255, 255, 255);

$font-barlow: "Barlow Condensed", "Gill Sans", sans-serif;
$font-poppins: "Poppins", "Gill Sans", sans-serif;
